{% extends 'base.html.twig' %}

{% block title %}Choissisez votre groupe !{% endblock %}

{% block body %}
    
    <!-- Ajout de la barre de navigation contenant le fichier CSS -->
    {% include 'layout/navbar.html.twig'%}

    <div class="container">

        <h1 style="margin-top: 20px; text-align: center;">Dans quel groupe voulez vous travaillez ?</h1>

        <table class="table table-bordered" style="text-align: center; margin-top: 30px;">

            <thead class="thead-dark">
                <tr>
                    <th> Nom </th>
                    <th> Travailler </th>
                </tr>
            </thead>
                    
            <!-- Liste des groupes ou est affecté l'utilisateur -->
            {% for team in tArray %}
                <tr>
                    <td style="vertical-align: middle;"> {{ team.name }} </td>
                    <td style="vertical-align: middle;">
                        <a href="{{ path('timer-group',{idTeam: team.id}) }}" class="btn btn-success"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </thead>
        </table>
    </div>
{% endblock %}
