{% extends 'base.html.twig' %}

{% block title %}Chronométrez vous{% endblock %}

{% block head %} {% endblock %}

{% block body %}

    <!-- Ajout de la barre de navigation contenant le fichier CSS -->
    {% include 'layout/navbar.html.twig'%}

    <main role="main" class="container">

        <h1 style="text-align: center; margin-top: 20px; margin-bottom: 70px;">Chronomètre</h1>

        <!-- Affichage du chronomètre -->
        <div class="timer">
                <time>00:00:00</time>
        </div>

        <br>

        <!-- Bouton permettant de stopper le chronomètre -->
        <div class ="stop">
            <a href="{{ path('timer_stop') }}" class="btn btn-danger btn-stop"><i class="fa fa-stop" aria-hidden="true"></i> Stop</a>
        </div>

    </main>

    <!-- Script permettant d'animer le chronomètre --> 
    <script>
        var timerDiv = document.getElementsByClassName('timer')[0],
            seconds = 0, minutes = 0, hours = 0,
            t;

        function add() {
            seconds++;
            if (seconds >= 60) {
                seconds = 0;
                minutes++;
                if (minutes >= 60) {
                    minutes = 0;
                    hours++;
                }
            }

            timerDiv.textContent = (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);

            timer();
        }

        function timer() {
            t = setTimeout(add, 1000);
        }

        timer();
        
    </script>

{% endblock %}
