{% extends 'base.html.twig' %}

{% block title %}Ajouter un projet{% endblock %}

{% block head %} {% endblock %}

{% block body %}
    
    <!-- Ajout de la barre de navigation contenant le fichier CSS -->
    {% include 'layout/navbar.html.twig'%}

    <main role="main" class="container">

        <h1 style="text-align: center; margin-top: 20px;">Créer votre projet</h1>

        <!-- Formulaire d'ajout -->
        {{ form(form) }}


    </main>
{% endblock %}